# see example @ https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
#global owners
* @ancaungureanu2 @gratian-dicu-hillrom @alinlup @ondrisb2 @m-mayori @David-M-Baxter
